@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root { 
  --body:#37475a;
  --past:#131a22;
  --present:#fff;
  --future:#37475a;
  --hour:#febd69;
  --save-btn:#febd69;
  --save-btn-hover:hsl(34, 74%, 62%);
  --today:#37475a;
  --jumbotron:#fff;
  --container:#fff;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--body);
  color: #fff;
}

/* top of the page */
.jumbotron {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--jumbotron);
  color: black;
  border-radius: 0;
  border-bottom: 7px solid #131a22;
  align-items: center;
  box-shadow: 0 0px 500px 50px #131a22;
}

.jumbotron h1 {
  font-weight: 700;
  text-decoration: underline var(--hour);
}

.lead {
  font-size: 1.5rem;
  margin: 15px auto;
}

#currentDay {
  display: flex;
  margin: 1em;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--today);
  color: #fff;
  font-weight: 600;
  box-shadow: 2px 2px 2px #000;
}

/* main content */
.container {
  background-color: var(--container);
  border: 5px solid var(--past);
  border-radius: 20px;
  padding: 35px;
  box-shadow: 3px 3px 3px #000;
  margin: 60px auto;
}

textarea {
  display: flex;
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
  height: 90%;
  width: 80%;
  margin: auto;
  border: none;
  color: #fff;
  font-size: 1.25rem;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  display: flex;
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  align-items: center;
  width: 90%;
  margin-left: auto;
  justify-content: center;
}

.hour {
  border-top: 1px solid #000000;
  border-left:3px solid var(--past);
  border-right:3px solid var(--future);
  width: 15%;
  margin-right: auto;
  background-color: var(--hour);
  height: 100%;
}

.hour h5 {
  color: #000;
  font-weight: 700;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #000;
  padding: 0 30px;
  border-top: 1px solid white;
  background-color: var(--save-btn);
}

.saveBtn:hover {
  background-color: var(--save-btn-hover);
  transition: all 0.2s ease;
}

.past {
background-color: var(--past);
color:#fff;
}

.present {
background-color: var(--present);
}

.future {
background-color: var(--future);
color:#fff;
}

@media screen and (max-width:800px) {
  textarea {
    font-size:1.1rem;
    width: 70%;
  }

  .hour h5 {
    font-size: .8rem;
  }

  .saveBtn {
   font-size: .65rem; 
   padding: 0px 25px;
  }
}